<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
        <div class="card">
          <h3 class="card-header" translate>Action</h3>
          <div class="card-block">
            <h4 class="card-title" translate>Command</h4>
            <p class="card-text">
                <code *ngIf="command?.payload">{{command.payload.command | json}}</code>
            </p>
            <app-loader [isLoading]="isLoading"></app-loader>
            <button [disabled]="isLoading" class="btn btn-lg btn-outline-primary" (click)="getCommand()" translate>Go</button>
            <button class="btn btn-lg btn-outline-primary" (click)="clearData()" translate>Clear</button>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
          <h3 class="card-header" translate>Executor</h3>
          <div class="card-block">
            <h4 class="card-title" translate>State area</h4>
            <div class="row">
              <div class="col-4">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th translate>Elements</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="elementIdList?.length > 0">
                        <tr *ngFor="let elementId of elementIdList">
                          <td>{{elementId}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-8">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th translate>Action</th>
                          <th translate>Source</th>
                          <th translate>Destination</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="linkItemList?.length > 0">
                        <tr *ngFor="let linkItem of linkItemList">
                          <td>{{linkItem.action}}</td>
                          <td>{{linkItem.dst}}</td>
                          <td>{{linkItem.src}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
          <h3 class="card-header" translate>StatusReflector</h3>
          <div class="card-block">
            <h4 class="card-title" translate>Status</h4>
            <div *ngIf="messageList?.length > 0">
                <div class="alert" [ngClass]="{'alert-success': message[0].type === 'success', 'alert-warning': message[0].type === 'warning', 'alert-danger': message[0].type === 'error'}" role="alert" *ngFor="let message of messageList">
                    <strong translate>{{message[0].code}}</strong>, <span translate>{{message[0].details}}</span>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>